---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About'>
<main class="main-container">

  <section>
    <h2>&gt; What is this? </h2>
    <p>The pixel art gallery is where i put all my artwork for random people to see who have stumbled upon my site.</p>
    <br>
    <h2>&gt; Who are you? </h2>
	  <p>My name's Lue, I made all the artwork and the site as well.</p>
    <br>
    <br>
    <h2>In loving memory of my uncle.</h2>
  </section>
  
  
  <section>

    <canvas id="c"></canvas>

  </section>

</main>
</Layout>

<script>
  // src/main.ts

import * as THREE from 'three';



function resizeRendererToDisplaySize(renderer: THREE.WebGLRenderer) {
	const canvas = renderer.domElement;
	const pixelRatio = window.devicePixelRatio;
	const width = (canvas.clientWidth * pixelRatio) | 0;
	const height = (canvas.clientHeight * pixelRatio) | 0;
	const needResize = canvas.width !== width || canvas.height !== height;
	if (needResize) {
		renderer.setSize(width, height, false);
	}
	return needResize;
}

function main() {
	const canvas: HTMLCanvasElement | null =
		document.querySelector<HTMLCanvasElement>('#c');

	// checks whether the canvas exists
	if (canvas === null) {
		throw new Error('CANVAS ELEMENT DOES NOT EXIST');
	}

	// rederer
	const renderer = new THREE.WebGLRenderer({ antialias: true, canvas });

	// camera
	const fov = 75;
	const aspect = 2; // the canvas default
	const near = 0.1;
	const far = 100;
	const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);

	//camera position
	camera.position.z = 30;

	//scene
	const scene = new THREE.Scene();
  scene.background = new THREE.Color(0x032681)

	// light
	const color = 0xffffff;
	const intensity = 3;
	const light = new THREE.DirectionalLight(color, intensity);
	light.position.set(-1, 2, 4);
	scene.add(light);


	//shape
	const geo = new THREE.SphereGeometry(15, 24, 12);
	const shapeMaterial = new THREE.MeshBasicMaterial({
	 color: new THREE.Color('white'),
	 wireframe:true,
	})

	const leftMaterial = new THREE.MeshBasicMaterial({color:new THREE.Color(0xe0c054d2),wireframe:true});
	const rightMaterial = new THREE.MeshBasicMaterial({color:new THREE.Color(0xef83ebd2),wireframe:true});

	const shapeMesh = new THREE.Mesh(geo, shapeMaterial);
	const leftMesh = new THREE.Mesh(geo,leftMaterial);
	const rightMesh = new THREE.Mesh(geo,rightMaterial);

	scene.add(shapeMesh);
	scene.add(leftMesh);
	scene.add(rightMesh);

	leftMesh.position.z = 0.15;
	rightMesh.position.z = 0.5;


	// renderer
	renderer.render(scene, camera);

	// time
	const clock = new THREE.Clock();

	// animation
	function render() {
		const deltaTime = clock.getDelta();
		// resizes the display

		if (resizeRendererToDisplaySize(renderer)) {
			const canvas = renderer.domElement;
			camera.aspect = canvas.width / canvas.height;
			camera.updateProjectionMatrix();
		}

		// convert time to seconds
		// shapeMesh.rotation.x += deltaTime;
		shapeMesh.rotation.y -= 0.5 * deltaTime;
		leftMesh.rotation.y -= 0.5 * deltaTime;
		rightMesh.rotation.y -= 0.5 * deltaTime;
		
		renderer.render(scene, camera);
		requestAnimationFrame(render);

		// update time from the fragment shader

		if (canvas == null) {
			throw new Error('CANVAS DOES NOT EXIST');
		}
		const resolution = new THREE.Vector2(canvas.width, canvas.height);
	}

	requestAnimationFrame(render);
}

main();


</script>

<style>
@media (max-width: 810px) {
	.main-container{

		flex-direction: column !important;
	}



}



#c{
  background-color: var(--background-color);
	width: 100%;
	height: 100%;
	display: block;
  filter: blur(1px);
}


.main-container{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  
}

.main-container > section {
  width: 100%;
  height: 100%;
  
  flex: 1;
  
  padding: 10px;

}
.main-container > section:nth-child(2){
	padding: 30px;
}
</style>
