---

---

<div>
  <h1>Pixel Art Gallery</h1> <h1>--:--</h1>
</div>

<style>

div{
  width: 100%;
  height: var(--block-height);

  border-bottom: var(--border-color) var(--border-width) solid ;

  box-shadow: 0 var(--shadow-position) var(--shadow-blur) var(--crt-color-right), inset 0 var(--shadow-position-opposite) var(--shadow-blur) var(--crt-color-left);

  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: box-anaglyph 10ms ease  infinite alternate-reverse none ;

}
  
@keyframes box-anaglyph {

0%{
  box-shadow: 0 0 var(--shadow-blur) var(--crt-color-right), inset 0 0 var(--shadow-blur) var(--crt-color-left);
}

25%{  box-shadow: 0 var(--shadow-position) var(--shadow-blur) var(--crt-color-right),inset 0 0 0 var(--crt-color-left);
}

50%{
  box-shadow: 0 var(--shadow-position) var(--shadow-blur) var(--crt-color-right),inset 0px var(--shadow-position-opposite) var(--shadow-blur) var(--crt-color-left);
}

100%{

  box-shadow: 0 0 0 var(--crt-color-right),inset 0px var(--shadow-position-opposite) var(--shadow-blur) var(--crt-color-left);


}

}
</style>
