<nav class="">
  <div class="home-container">
    <a href="" target="_blank" class="home-link">HOME</a>
    <div class="box"></div>
  </div>

<a href="" target="_blank">INFO</a>
</nav>
<style>

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
  width: 75px;
  height: 100dvh;
  
  border-right: var(--border-color) var(--border-width) solid ;

  box-shadow: var(--shadow-position) 0  var(--shadow-blur) var(--crt-color-right), inset var(--shadow-position-opposite) 0 var(--shadow-blur) var(--crt-color-left);
  animation: nav-anaglyph 100ms ease  infinite alternate-reverse none ;

}

.home-link{
  height: var(--block-height);
  width: 100%;

  border-bottom: var(--border-color) var(--border-width) solid ;
  box-shadow: 0 var(--shadow-position) var(--shadow-blur) var(--crt-color-right),inset 0px var(--shadow-position-opposite) var(--shadow-blur) var(--crt-color-left);
  animation: box-anaglyph 10ms ease  infinite alternate-reverse none ;


}
.home-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box{
  height: var(--section-size);
  width: 100%;

  border-bottom: var(--border-color) var(--border-width) solid ;
  box-shadow: 0 var(--shadow-position) var(--shadow-blur) var(--crt-color-right),inset 0px var(--shadow-position-opposite) var(--shadow-blur) var(--crt-color-left);

  animation: box-anaglyph 10ms ease  infinite alternate-reverse none ;

}

@keyframes nav-anaglyph {
  
  0%{
    box-shadow: 0 0 var(--shadow-blur) var(--crt-color-right), inset 0 0 var(--shadow-blur) var(--crt-color-left);
  }

  25%{
    box-shadow: var(--shadow-position) 0 var(--shadow-blur) var(--crt-color-right), inset 0 0 0 var(--crt-color-left);
  }

  50%{
    box-shadow: var(--shadow-position) 0 var(--shadow-blur) var(--crt-color-right), inset var(--shadow-position-opposite) 0 var(--shadow-blur) var(--crt-color-left);
  }
 
  100%{
    box-shadow: 0 0 0 var(--crt-color-right), inset var(--shadow-position-opposite) 0 var(--shadow-blur) var(--crt-color-left);
  }

}


@keyframes box-anaglyph {

0%{
  box-shadow: 0 0 var(--shadow-blur) var(--crt-color-right), inset 0 0 var(--shadow-blur) var(--crt-color-left);
}

25%{  box-shadow: 0 var(--shadow-position) var(--shadow-blur) var(--crt-color-right),inset 0 0 0 var(--crt-color-left);
}

50%{
  box-shadow: 0 var(--shadow-position) var(--shadow-blur) var(--crt-color-right),inset 0px var(--shadow-position-opposite) var(--shadow-blur) var(--crt-color-left);
}

100%{

  box-shadow: 0 0 0 var(--crt-color-right),inset 0px var(--shadow-position-opposite) var(--shadow-blur) var(--crt-color-left);


}

}
</style>